.app {
  width: 100%;
  max-width: 552px;
  margin: 0 auto;
  padding: 60px 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.listSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
